<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>eShop</title>
  <link rel="stylesheet" href="styles.css">
</head>

<body>
  <div id="app">
    <header>
      <input v-model="searchLine">
      <button @click="filterGoods">Искать</button>
    </header>
    <main>
      <!-- products -->
      <div class="goods-list">
        <template v-if="filteredGoods.length">
          <div class="good-item" v-for="item of filteredGoods">
            <h3>{{ item.product_name }}</h3>
            <p>{{ item.price }} руб.</p>
            <a href="#" v-bind:id="`buy${item.id_product}`" class="buy" @click="addToCart">Добавить</a>
          </div>
        </template>
        <template v-else>
          <p>Нет данных</p>
        </template>
      </div>
      <!-- /products -->

      <!-- cart -->
      <button @click="toggleCart">Корзина</button>
      <div class="cart" v-if="isVisibleCart">
        <template v-if="cart.contents.length">
          <div class="goods-list">
          <div class="good-item" v-for="item of cart.contents">
            <h3>{{ item.product_name }}</h3>
            <p>{{ item.price }} руб.</p>
            <p>{{ item.quantity }} ед.</p>
            <a href="#" v-bind:id="`del${item.id_product}`" class="delete" @click="delFromCart">Удалить</a>
          </div>
        </div>
        <div class="cart-cost">
          <p>Товаров в корзине - {{ cart.countGoods }} ед. на сумму {{ cart.amount }} руб.</p>
        </div>
        </template>
        <template v-else>
          <p>Здесь пока ничего нет</p>
        </template>
      </div>
      <!-- /cart -->
    </main>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script src="script.js"></script>
</body>

</html>