* {
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    padding-left: 10px;
    background-color:rgba(16, 113, 177, 0.10);
    box-sizing: border-box;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
}

button {
    margin: 10px;
}

.goods-list {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    font-family: Arial, Helvetica, sans-serif;
}

.good-item {
    padding: 44px 32px;
    box-sizing: border-box;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    text-align: center;
    min-width: 150px;
}

.cart-cost {
    width: 100%;
    background-color:ghostwhite;
    padding: 10px;
    box-sizing: border-box;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
}

a {
    margin: 10px;
}

.deleted {
    background-color: red;
}

.added {
    background-color: rgb(0, 255, 0);
}

.hidden {
    display: none;
}
